* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	height: 100vh;
	background-color: #3f606c;
}

header {
	background-color: #d3c5bc;
	overflow: hidden;
	padding: 20px 10px;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

header img {
	height: 50px;
	width: 50px;
}

header nav {
}
